.Main-chat__message-list--chat-block
  .Main-chat__message-list--chat-block--form
    .Main-chat__message-list--chat-block--form--name
      = message.user.name
    .Main-chat__message-list--chat-block--form--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Main-chat__message-list--chat-block--message
    - if message.content.present?
      %p.Main-chat__message-list--chat-block--message--content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?
